<div class="programs-page">
  <img src="programs.png" />
  <div class="programs">
    <div class="levels">
      <p [class.actived]="bachelor" (click)="bachelor = true">
        Bachelor Programs
      </p>
      <p [class.actived]="!bachelor" (click)="bachelor = false">
        Master Programs
      </p>
    </div>
    <div *ngIf="bachelor" class="FY">
      <h1>{{ programId[11]?.programFullName }}</h1>
      <div class="FY-wrapper">
        <p>{{ programId[11]?.content }}</p>
        <app-primary-button
          text="Learn more"
          [routerLink]="['/programs', programId[11]?.title]"
        />
      </div>
    </div>
    <div class="test">
      <app-card3-m
        *ngFor="let program of programId"
        [class.non-actived]="
          !(bachelor === (program.Levels == '1')) || program.title === 'FY'
        "
        [title]="program.title"
        [image]="directus.getImageUrl(program.image)"
        [content]="program.content"
        class="program"
        [routerLink]="['/programs', program.title]"
      />
    </div>
  </div>
</div>
