<div class="program-detail-page">
  <img src="programs.png" />
  <div class="link">
    <a routerLink="/programs">Programs/ </a><span>{{ this.a }}</span>
  </div>
  <div class="header1">
    <h1>{{ this.a }}</h1>
  </div>
  <img src="cse.png" />
  <div class="wrapper">
    <!-- Apply ngbAccordion here, wrapping all items -->
    <div ngbAccordion [closeOthers]="true">
      <div
        ngbAccordionItem
        *ngFor="let section of sections"
        [collapsed]="section.title !== 'Section 1'"
      >
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{ section.title }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>{{ section.content }}</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
