.root_universityOverview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0px;
    box-sizing: border-box;
    overflow: visible;
    background: white;
    max-width: 1300px;
    min-width: 1007px;
    height: fit-content;
    margin: auto;
}

app-header {
    width: 100%;
}

app-footer {
    margin: auto;
    position: relative;
    width: 100%;
  }

.body {
    flex-grow: 1;
    width: 100%;
}