<div class="root">
  <app-drop-button
    *ngIf="property === 'about'"
    [function]="'Organization >'"
    (click) = "notifyClickedToNavbar('organization')"
  />
  <app-drop-button
    *ngIf="property === 'about'"
    [function]="'Press'"
  />
  <app-drop-button
    *ngIf="property === 'about'"
    [function]="'Contact'"
  />
  <app-drop-button
    *ngIf="property === 'research'"
    [function]="'Research Direction'"
  />
  <app-drop-button
    *ngIf="property === 'research'"
    [function]="'Research Projects'"
  />
  <app-drop-button
    *ngIf="property === 'research'"
    [function]="'Publication'"
  />
  <app-drop-button
    *ngIf="property === 'research'"
    [function]="'Research Centre'"
  />
  <app-drop-button
    *ngIf="property === 'industrial'"
    [function]="'Overview'"
  />
  <app-drop-button
    *ngIf="property === 'industrial'"
    [function]="'Internship in Industrial'"
  />
  <app-drop-button
    *ngIf="property === 'industrial'"
    [function]="'Industrial relation and Technology transfer centre'"
  />
  <app-drop-button
    *ngIf="property === 'industrial'"
    [function]="'Trainings for industry partner'"
  />
  <app-drop-button
    *ngIf="property === 'SaA'"
    [function]="'Education level >'"
    (click) = "notifyClickedToNavbar('level')"
  />
  <app-drop-button
    *ngIf="property === 'SaA'"
    [function]="'Student >'"
    (click) = "notifyClickedToNavbar('student')"
  />
  <app-drop-button
    *ngIf="property === 'SaA'"
    [function]="'Alumni'"
  />
  <app-drop-button
    *ngIf="property === 'SaA'"
    [function]="'Admission'"
  />
  <app-drop-button
    *ngIf="property === 'SaA'"
    [function]="'Accreditation'"
  />
</div>
