.root {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background: #d9d9d9;
}