.landing-page-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0px;
    padding-top: 67px;
    box-sizing: border-box;
    overflow: visible;
    background: white;
    width: 100%;
    height: fit-content;
    margin: auto;
  }
  /* Header */
  app-mobile-header {
    width: 100%;
  }
  /* Main body //////////////////////////////////////////////////*/
  .body {
    width: 100%;
  }
  /* Hero Section */
  app-mobile-hero {
    width: 390px;
  }
  /* Teaser box */
  .teaser_box {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    background: var(--vgu_orange);
  }
  
  .teaser_title {
    font-family: var(--vgu_font_sans);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: white;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .teaser_content {
    font-family: var(--vgu_font_sans);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: white;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .teaser_box app-buttons {
    order: 2;
  }
  /* Introduction */
  .intro {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 15px;
  }
  
  .intro_title {
    font-family: var(--vgu_font_sans);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: black;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .intro_content {
    font-family: var(--vgu_font_sans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: black;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  /* General News */
  .generalNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 30px 10px;
    gap: 22px;
  }
  
  .generalNews .title {
    width: 100%;
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: black;
    flex: none;
    order: 0;
    flex-grow: 1;
  }
  
  .displaynews {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .displaynews_content {
    display: flex;
    flex-direction: column;
  }
  
  
  .displaynews_content .title {
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    align-self: stretch;
    color: black;
  }
  
  .displaynews_content .content {
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: black;
    align-self: stretch;
  }
  
  .displaynews img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 360px;
  }
  /* Admission */
  .admissionNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 30px 10px;
    gap: 22px;
    background: #F5F5F5;
    align-self: stretch;
  }
  
  .admissionNews .title {
    width: 100%;
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: black;
  }
  /* Research News */
  .researchNews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 10px 50px 10px;
    gap: 10px;
  }
  
  .researchNews .title {
    font-family: var(--vgu_font_sans);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: black;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .researchNews app-slide {
    width: 100%;
  }
  /* Upcoming Event */
  .upevent {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
    gap: 15px;
    background: #F5F5F5;
  }
  
  .displayevent1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    gap: 15px;
  }
  
  .displayevent1 app-event {
    width: 100%;
  }
  
  .displayevent2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 15px;
  }
  
  .displayevent2 app-event {
    width: 100%;
  }
  
  .displayevent3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .displayevent3_content {
    display: flex;
    flex-direction: column;
  }
  
  
  .displayevent3_content .title {
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    align-self: stretch;
    color: black;
  }
  
  .displayevent3_content .content {
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: black;
    align-self: stretch;
  }
  
  .displayevent3 img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 360px;
  }
  
  .upevent .title {
    width: 100%;
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: black;
    align-self: stretch;
  }
  
  .displayevent4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    gap: 15px;
  }
  /* Parrtner */
  .partner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px 10px 30px 10px;
    width: 100%;
    height: fit-content;
    background: white;
  
    app-slide-partner {
      width: calc(100vw - 20px);
    }
  }
  
  .partner .title {
    width: 100%;
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: black;
    flex-grow: 1;
  }
  /*//////////////////////////////////////////////////*/
  