<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-grid">
      <div class="test">
        <h3>About VGU</h3>
        <p>
          Vietnamese-German University (VGU) is a state-owned university in
          Vietnam, founded in 2008 as a collaborative effort between Vietnam and
          Germany.
        </p>
      </div>

      <div class="test">
        <h3>Quick Links</h3>
        <ul>
          <li>Programs</li>
          <li>Admissions</li>
          <li>Research</li>
          <li>Student life</li>
          <li>News & Events</li>
        </ul>
      </div>
      <div class="test">
        <h3>Contact Info</h3>
        <p>
          Le Lai Street, Hoa Phu Ward, Thu Dau Mot City, Binh Duong Province
        </p>
        <p>+84 274 222 0990</p>
        <p>info&#64;vgu.edu.vn</p>
      </div>
      <div class="test">
        <h3>Newsletter</h3>
        <p>Subscribe to our newsletter for updates and news.</p>
        <input placeholder="Enter your email" />
        <button>Subscribe</button>
      </div>
    </div>
    <div style="padding-top: 20px; border-top: 1px solid #374151">
      <div
        style="
          display: flex;
          width: 100%;
          justify-content: space-between;
          color: #9ca3af;
        "
      >
        <p>© 2025 Vietnamese-"German University. All rights reserved.</p>
        <div style="display: flex; gap: 20px">
          <p>Privacy Policy</p>
          <p>Terms of Service</p>
          <p>Cookie Policy</p>
        </div>
      </div>
    </div>
  </div>
</div>
