.card1-l {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
    gap: 24px;
    width: calc(100% - 120px);
    height: fit-content;
}

.card1-l-image {
    position: relative;
    width: 361px;
    height: 361px;
    border-radius: 180px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card1-l-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 361px;
    height: fit-content;
    flex: none;
    order: 1;
    flex-grow: 0;
}
  
.card1-l-title {
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: var(--primary-text);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
  
.card1-l-content {
    font-family: var(--vgu_font_serif);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: var(--primary-text);
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.card1-l app-arrow-button {
    order: 3;
}