.root {
    padding: 0px 31px 0px 31px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background: #ffffff;
  }
  .test {
    display: flex;
    box-sizing: content-box;
    color: #000000;
    font-size: 19px;
    font-family: IBM Plex Sans;
    letter-spacing: 0%;
    font-weight: 500;
    text-align: left;
    text-wrap: nowrap;
  }
  
  .test_propertyDefaultFunctionTest {
    text-decoration: none;
  }
  
  .test_propertyHoverFunctionTest {
    text-decoration: underline;
  }
  
  .test2 {
    display: flex;
    box-sizing: content-box;
    color: #000000;
    font-size: 19px;
    font-family: IBM Plex Sans;
    letter-spacing: 0%;
    font-weight: 500;
    text-align: left;
    text-wrap: nowrap;
  }
  
  .test2_propertyDefaultFunctionTest2 {
    text-decoration: none;
  }
  
  .test2_propertyHoverFunctionTest2 {
    text-decoration: underline;
  }
  
  