.root_mobileEvent .carousel-control-prev, .root_mobileEvent .carousel-control-next {
    height: calc((100vw - 20px) / 353 * 265);
}

.carousel-inner, .carousel-item {
    height: 100%;
}

.root_mobileEvent {
    height: 517px;
}

app-event {
    height: 517px;
}