.root_partner {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide images that overflow outside the frame */
  }
  
  .allPartner {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: fit-content;
    animation: slide 20s linear infinite; /* Infinite sliding animation */
  }
    
  .root_partner .carousel-slide {
      display: flex;
      width: max-content; /* Ensure container expands for all images */
      height: fit-content;
  }
    
  .root_partner .carousel-slide img {
      position: relative;
      width: auto;
      max-height: 138px;
      margin-right: 15px; /* Optional: space between images */
  }
    
  /* Define the animation */
  @keyframes slide {
    0% {
      transform: translateX(25%);
    }
    100% {
      transform: translateX(calc(-25%)); /* Slide left by the total width of images */
    }
  }