.root {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 72px;
  height: 72px;
  border-radius: 90px;
}
.rectangleFacebook {
  position: absolute;
  width: 26px;
  height: 46px;
  left: calc(50% - 26px/2);
  top: calc(50% - 46px/2 + 1px);
}

.rectangleFacebook_propertyDefaultIconFacebook {
  background: var(--dark_blue);
  display: flex;
}

.rectangleFacebook_propertyHoverIconFacebook {
  background: var(--vgu_orange);
  display: flex;
}

.pngtreeWhiteIcon35704202 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.rectangleLinkedin {
  position: absolute;
  width: 38px;
  height: 40px;
  left: 17px;
  top: 17px;
}

.rectangleLinkedin_propertyDefaultIconLinkedin {
  background: var(--dark_blue);
  display: flex;
}

.rectangleLinkedin_propertyHoverIconLinkedin {
  background: var(--vgu_orange);
  display: flex;
}

.pngtreeLinkedinWhiteIcon35704231 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.rectangleMap {
  top: 9px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.rectangleMap_propertyDefaultIconMap {
  background: var(--dark_blue);
  display: flex;
}

.rectangleMap_propertyHoverIconMap {
  background: var(--vgu_orange);
  display: flex;
}

.toppngComLocationIconWhiteFaIconMapMarker241X3811 {
  top: 4px;
  left: 18px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.rectangleYoutube {
  top: 18px;
  left: 10px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.rectangleYoutube_propertyDefaultIconYoutube {
  background: var(--dark_blue);
  display: flex;
}

.rectangleYoutube_propertyHoverIconYoutube {
  background: var(--vgu_orange);
  display: flex;
}

.toppngComYoutubeWhiteIconSocialMediaIconPngAndVectorBlackAndWhiteLogoVideo465X4651 {
  top: -1px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}
