.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .logoLockedAspectRatio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0px;
    box-sizing: border-box;
    width: -webkit-fill-available;
  }
  .logo {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #e7e7e7;
    width: 250px;
    height: 150px;
  }
  .imageLogo {
    top: 52px;
    left: 45px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    /* background:; */
    width: 160px;
    height: 46px;
  }
  
  .a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0px;
    box-sizing: border-box;
    overflow: hidden;
    width: -webkit-fill-available;
  }
  