<h1 class="section-header">{{ header }}</h1>
<div class="card3-m-display" *ngIf="type === 'card3-m'">
  <app-card3-m
    *ngFor="let data of datas"
    [image]="directus.getImageUrl(data.image)"
    [subcontent]="data.publish_date"
    [title]="data.title"
    [content]="data.content"
  />
</div>
<div class="card3-s-display" *ngIf="type === 'card3-s'">
  <app-card3-s
    *ngFor="let data of datas"
    [title]="data.title"
    [content]="data.content"
  />
</div>
<div class="card4-m-display" *ngIf="type === 'card4-m'">
  <app-card4-m
    *ngFor="let data of datas"
    [image]="directus.getImageUrl(data.image)"
    [title]="data.title"
  />
</div>
<div class="card2-m-display" *ngIf="type === 'card2-m'">
  <app-card2-m
    *ngFor="let data of datas"
    [image]="directus.getImageUrl(data.image)"
    [title]="data.title"
    [content]="data.content"
  />
</div>
<div class="card1-l-display" *ngIf="type === 'card1-l'">
  <app-card1-l
    *ngFor="let data of datas"
    [image]="directus.getImageUrl(data.image)"
    [title]="data.title"
    [content]="data.content"
  />
</div>
<div class="card1-s-display" *ngIf="type === 'card1-s'">
  <app-card1-s
    *ngFor="let data of datas"
    [title]="data.title"
    [content]="data.content"
    [subcontent1]="data.publish_date"
    [subcontent2]="data.author.name"
  />
</div>
<app-primary-button [text]="'More ' + header" />
