<div class="testframe_1082-1513">
  <app-mobile-header [menu]="'close'"/>
  <div class="body">
    <app-mobile-hero/>
    <div class="teaser_box">
      <span class="teaser_title">NEW MODEL UNIVERSITY</span>
      <span class="teaser_content">Established as a research-oriented university in 2008 within the Excellent University Project of the Government of Vietnam, the Vietnam-German University aims to become a leading research university in Vietnam and the Southeast Asia.</span>
      <app-buttons [button]="'white'" [content]="'Learn more'"/>
    </div>
    <div class="intro">
      <span class="intro_title">About VGU</span>
      <span class="intro_content">Introduction about VGU</span>
    </div>
    <div class="generalNews">
      <span class="title">VGU General News</span>
      <app-mobile-event [sections]=generalNews/>
      <div class="displaynews">
        <img [src]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"/>
        <div class="content">
          <span
            class="title"
            >Extended Application Deadline for VGU Master's Programs AY</span
          >
          <div>
            <svg
              width="72"
              height="12"
              viewBox="0 0 72 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="72" height="12" fill="#F28130" />
            </svg>
          </div>
          <span
            class="content"
            >We are delighted to announce that the Vietnamese-German University (VGU)
            has extended the final round of applications for our esteemed Master's
            programs for the Academic Year 2024-2025...</span
          >
        </div>
      </div>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More VGU News'"
      />
    </div>
    <div class="admissionNews">
      <span class="title">ADMISSION</span>
      <app-mobile-event [sections]=admissionNews/>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More Admission News'"
      />
      <app-event [event]="'e3'"/>
      <app-event [event]="'e3'"/>
      <app-event [event]="'e3'"/>
      <app-event [event]="'e3'"/>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More Admission News'"
      />
    </div>
    <div class="researchNews">
      <span class="title">RESEARCH NEWS</span>
    </div>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ante porta, sollicitudin diam in, mattis nisi. Integer lobortis non felis ut fringilla. Sed commodo neque sed elit fermentum accumsan. Maecenas mollis, ex sit amet volutpat interdum, urna enim feugiat quam, et euismod libero eros non massa. Proin ut nisi condimentum, semper eros in, volutpat velit. Maecenas ac semper ipsum. Curabitur placerat odio quis urna varius, at luctus augue luctus. Duis dignissim pharetra mauris. Vivamus tincidunt diam vel velit dictum, lobortis finibus neque porta. Maecenas efficitur interdum velit maximus iaculis. In libero turpis, tristique in lacus quis, tempor maximus odio. Praesent arcu orci, porttitor lacinia rhoncus vel, bibendum et ex. Nunc in dui ut sapien dapibus ullamcorper. Curabitur hendrerit magna justo, at ullamcorper lectus maximus ac.</span>
  </div>
  <app-footer [property]="'mobile'"/>
</div>
