<div class="testframe_1082-1513">
  <app-mobile-header [menu]="'close'"/>
  <div class="body">
    <app-mobile-hero/>
    <div class="teaser_box">
      <span class="teaser_title">NEW MODEL UNIVERSITY</span>
      <span class="teaser_content">Established as a research-oriented university in 2008 within the Excellent University Project of the Government of Vietnam, the Vietnam-German University aims to become a leading research university in Vietnam and the Southeast Asia.</span>
      <app-buttons [button]="'white'" [content]="'Learn more'"/>
    </div>
    <div class="intro">
      <span class="intro_title">About VGU</span>
      <span class="intro_content">Introduction about VGU</span>
    </div>
    <div class="generalNews">
      <span class="title">VGU General News</span>
      <app-mobile-event [sections]=generalNews/>
      <div class="displaynews">
        <img [src]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"/>
        <div class="displaynews_content">
          <span
            class="title"
            >Extended Application Deadline for VGU Master's Programs AY</span
          >
          <div>
            <svg
              width="72"
              height="12"
              viewBox="0 0 72 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="72" height="12" fill="#F28130" />
            </svg>
          </div>
          <span
            class="content"
            >We are delighted to announce that the Vietnamese-German University (VGU)
            has extended the final round of applications for our esteemed Master's
            programs for the Academic Year 2024-2025...</span
          >
        </div>
      </div>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More VGU News'"
      />
    </div>
    <div class="admissionNews">
      <span class="title">ADMISSION</span>
      <app-mobile-event [sections]=admissionNews/>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More Admission News'"
      />
      <app-event [event]="'e3'"/>
      <app-event [event]="'e3'"/>
      <app-event [event]="'e3'"/>
      <app-event [event]="'e3'"/>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More Admission News'"
      />
    </div>
    <div class="researchNews">
      <span class="title">RESEARCH NEWS</span>
      <app-slide/>
    </div>
    <div class="upevent">
      <div class="displayevent1">
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
      </div>
      <div class="displayevent2">
        <app-event
        [event]="'e5'"
        [imageSrc]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"
        [title]="'Upcoming event title'"
        [content]="'Some content that I try to make it looks long enough but it is not that long enough so I have to try again'"
        />
        <app-event
        [event]="'e5'"
        [imageSrc]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"
        [title]="'Upcoming event title'"
        [content]="'Some content that I try to make it looks long enough but it is not that long enough so I have to try again'"
        />
      </div>
      <div class="displayevent3">
        <img [src]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"/>
        <div class="displayevent3_content">
          <span
            class="title"
            >Extended Application Deadline for VGU Master's Programs AY</span
          >
          <div>
            <svg
              width="72"
              height="12"
              viewBox="0 0 72 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="72" height="12" fill="#F28130" />
            </svg>
          </div>
          <span
            class="content"
            >We are delighted to announce that the Vietnamese-German University (VGU)
            has extended the final round of applications for our esteemed Master's
            programs for the Academic Year 2024-2025...</span
          >
          <app-buttons [button]="'orange'" [content]="'Learn more'"/>
        </div>
      </div>
      <span class="title">LEARN MORE ABOUT VGU</span>
      <div class="displayevent4">
        <app-event
          [event]="'e6'"
        />
        <app-event
          [event]="'e6'"
        />
        <app-event
          [event]="'e6'"
        />
        <app-event
          [event]="'e6'"
        />
      </div>
    </div>
    <div class="partner">
      <span class="title">UNIVERSITY PARTNER</span>
      <app-slide-partner/>
    </div>
  </div>
  <app-footer [property]="'mobile'"/>
</div>
