.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
app-header {
  height: fit-content;
}
.content {
  padding-top: 117px;
  overflow-y: scroll;
  flex: 1;
}
