<div class="landing-page">
  <app-hero-section />
  <div class="landing-wrapper">
    <h1>About VGU</h1>
    <div *ngFor="let section of sections" class="section" id={{section.section_name}}>
      <h1>{{ section.section_name }}</h1>
      <app-display-cards
        *ngFor="let groupCard of section.source"
        [datas]="getSource(groupCard.source_id.data)"
        [type]="groupCard.source_id.type.type"
      />
    </div>
    <app-partners/>
  </div>
  <!-- <div class="section1">
    <app-display-cards
      [type]="'card3-m'"
      [datas]="generalNews"
      [header]="'VGU General News'"
    />
    <app-display-cards [type]="'card1-l'" [datas]="generalNews" [header]="''" />
  </div>
  <div class="section2">
    <app-display-cards
      [type]="'card3-m'"
      [datas]="generalNews"
      [header]="'Admisstion 2024'"
    />
    <app-display-cards [type]="'card1-s'" [datas]="generalNews" [header]="''" />
  </div>
  <div class="section3">
    <app-display-cards
      [type]="'card4-m'"
      [datas]="generalNews"
      [header]="'Research news'"
    />
    <app-display-cards [type]="'card2-m'" [datas]="generalNews" [header]="''" />
    <app-display-cards [type]="'card1-l'" [datas]="generalNews" [header]="''" />
  </div> -->
  <!-- <button routerLink="/organization">organ</button>
  <button routerLink="/study-programs">study</button> -->
</div>
<!-- [subcontent1]="'test'"
      [subcontent2]="'test'" -->
