.landing-page {
  height: fit-content;
  background-color: var(--primary-background);
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
}

h1 {
  width: 100%;
  height: fit-content;
  font-family: var(--vgu_font_san);
  font-style: normal;
  font-weight: 750;
  font-size: 40px;
  line-height: 52px;
  text-align: start;
  color: var(--primary-text);
  margin-bottom: 80px;
}

.landing-wrapper {
  max-width: 1300px;
  margin: auto;
}
.section1,
.section2,
.section3,
.section4 {
  padding-top: 40px;
}

