.landing-page {
  height: fit-content;
  background-color: var(--primary-background);
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
}

.landing-wrapper {
  max-width: 1300px;
  margin: auto;
}
.section1,
.section2,
.section3,
.section4 {
  padding-top: 40px;
}

