<div class="organization-page">
  <img src="organization.png" />
  <div class="header1">
    <h1>Organization</h1>
  </div>
  <div class="wrapper">
    <div class="UC">University Council</div>
    <div class="PB">Presidential Board</div>
    <div class="lv3">
      <div class="lv3-unit">Central Institutions</div>
      <div class="lv3-unit">Faculty</div>
      <div class="lv3-unit">Administrative Units</div>
      <div class="lv3-unit">Central Units</div>
      <div class="lv3-unit">Others</div>
    </div>
  </div>
</div>
