<div class="organization-page">
  <img src="organization.png" />
  <div class="header1">
    <h1>Organization</h1>
  </div>
  <div class="wrapper">
    <div class="UC">University Council</div>
    <div class="PB">Presidential Board</div>
    <div class="lv3">
      <div
        class="lv3-unit"
        *ngFor="let unit of units"
        [class.active]="activeTab === unit.id"
        (click)="setActiveTab(unit.id)"
      >
        {{ unit.name }}
      </div>
    </div>

    <!-- Content Sections -->
    <div
      class="content"
      *ngFor="let unit of units"
      [id]="unit.id"
      [class.active]="activeTab === unit.id"
    >
      <ul>
        <li *ngFor="let item of unit.content">{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
