<ngb-carousel
  class="root_mobileHero"
  [showNavigationIndicators]="false"
  [interval]="4000"
  [pauseOnHover]="false"
>
  <ng-template ngbSlide *ngFor="let section of heroSection">
    <div class="heroSection">
      <img [src]="this.directusSrv.getImageUrl(section.image)"
      alt="{{section.title}}">
      <div class="titleFrame">
        <span class="titleContent">{{section.title}}</span>
        <app-buttons
          [button]="'orange'"
          [content]="'Learn more'"
        />
      </div>
    </div>
  </ng-template>
</ngb-carousel>
