.root {
    display: flex;
    align-items: center;
    overflow: hidden; /* Hide images that overflow outside the frame */
}
  
  .carousel-slide {
    display: flex;
    width: max-content; /* Ensure container expands for all images */
    height: fit-content;
    animation: slide 10s linear infinite; /* Infinite sliding animation */
}
  
.carousel-slide img {
    position: relative;
    width: 480px;
    max-height: 256px;
    margin-right: 20px; /* Optional: space between images */
}
  
/* Define the animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-500px * 12)); /* Slide left by the total width of images */
  }
}
  