.root_partner {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden; /* Hide images that overflow outside the frame */
}
  
.root_partner .carousel-slide {
    display: flex;
    width: max-content; /* Ensure container expands for all images */
    height: fit-content;
    animation: slide 15s linear infinite; /* Infinite sliding animation */
}
  
.root_partner .carousel-slide img {
    position: relative;
    width: 380px;
    max-height: 256px;
    margin-right: 15px; /* Optional: space between images */
}
  
/* Define the animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-395px * 12)); /* Slide left by the total width of images */
  }
}
  