<!-- <ngb-carousel
  class="root"
  [interval]="1"
>
  <ng-template ngbSlide *ngFor="let partner of partners">
    <div class="slide">
      <img [src]="this.directusSrv.getImageUrl(partner.logo)"
      alt="{{partner.slug}}">
    </div>
  </ng-template>
</ngb-carousel> -->

<div class="root_partner">
  <div class="allPartner">
    <div
      *ngFor="let partner of partners"
      class="carousel-slide"
    >
      <img [src]="this.directusSrv.getImageUrl(partner.directus_files_id)"
      alt="{{partner.id}}">
    </div>
  </div>
  
</div>
