<div class="root_landingPC">
  <app-header/>
  <app-mobile-header/>
  <div class="body">
    <app-slide-news #herosection class="herosection"/>
    <app-mobile-hero/>
    <div class="teaserbox">
      <span class="teaser_title">NEW MODEL UNIVERSITY</span>
      <span class="teaser_content">
        Established as a research-oriented university in 2008 within the Excellent University Project of the Government of Vietnam, the Vietnam-German University aims to become a leading research university in Vietnam and the Southeast Asia.
      </span>
      <app-buttons
        class="teaser_button"
        [property]="'Default'"
        [content]="'Learn more'"
        [button]="'white'"
      />
    </div>
    <div #intro class="intro">
      <span class="introtitle">ABOUT VGU</span>
      <span class="introcontent">Introduction about VGU</span>
    </div>
    <div class="stickybar">
      <div class="newsnavbar">
        <app-nav-news
          [property]="propertyN"
          function="News" (click)="setPropertyN('Selected'); scroll(news)"
          (mouseenter)="setPropertyN('Hover')"
          (mouseleave)="setPropertyN('Default')"
        />
        <app-nav-news
          [property]="propertyA"
          function="Admission" (click)="setPropertyA('Selected'); scroll(admission)"
          (mouseenter)="setPropertyA('Hover')"
          (mouseleave)="setPropertyA('Default')"
          />
        <app-nav-news
          [property]="propertyR"
          function="Reserach news" (click)="setPropertyR('Selected'); scroll(research)"
          (mouseenter)="setPropertyR('Hover')"
          (mouseleave)="setPropertyR('Default')"
          />
        <app-nav-news
          [property]="propertyU"
          function="Upcoming events" (click)="setPropertyU('Selected'); scroll(upevent)"
          (mouseenter)="setPropertyU('Hover')"
          (mouseleave)="setPropertyU('Default')"
          />
        <app-nav-news
          [property]="propertyP" 
          function="University Partner" (click)="setPropertyP('Selected'); scroll(partner)"
          (mouseenter)="setPropertyP('Hover')"
          (mouseleave)="setPropertyP('Default')"
          />
      </div>
    </div>
    <div #news class="news">
      <span class="newstitle">VGU GENERAL NEWS</span>
      <div class="displaynews1">
        <app-event *ngFor="let gNews of generalNews"
          [subContent1]=gNews.publish_date
          [event]="'e1'"
          [title]=gNews.title
          [content]="stripHtml(gNews.content)"
          [imageSrc]="this.directusSrv.getImageUrl(gNews.image)"
        />
        <!-- <app-event
          [subContent1]="'23/10'"
          [event]="'e1'"
          [title]="'News title'"
          [content]="'News content'"
          [imageSrc]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"
        />
        <app-event
          [subContent1]="'23/10'"
          [event]="'e1'"
          [title]="'News title'"
          [content]="'News content'"
          [imageSrc]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"
        /> -->
      </div>
      <div class="displaynews2">
        <img [src]="'http://localhost:8055/assets/eb981c65-5359-4235-9bc5-e355c88b11a9'"/>
        <div class="news2info">
          <span
            class="news2head"
            >Extended Application Deadline for VGU Master's Programs AY</span
          >
          <div>
            <svg
              width="72"
              height="12"
              viewBox="0 0 72 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="72" height="12" fill="#F28130" />
            </svg>
          </div>
          <span
            class="news2body"
            >We are delighted to announce that the Vietnamese-German University (VGU)
            has extended the final round of applications for our esteemed Master's
            programs for the Academic Year 2024-2025...</span
          >
        </div>
      </div>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More VGU News'"
      />
    </div>
    <div #admission class="admission">
      <span class="admissiontitle">ADMISSION 2024</span>
      <div class="displayadmission1">
        <app-event *ngFor="let aNews of generalNews"
          [subContent1]=aNews.publish_date
          [event]="'e1'"
          [title]=aNews.title
          [content]="stripHtml(aNews.content)"
          [imageSrc]="this.directusSrv.getImageUrl(aNews.image)"
        />
        <!-- <app-event
          [subContent1]="'23/10'"
          [event]="'e1'"
          [title]="'News title'"
          [content]="'News content'"
          [imageSrc]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"
        />
        <app-event
          [subContent1]="'23/10'"
          [event]="'e1'"
          [title]="'News title'"
          [content]="'News content'"
          [imageSrc]="'http://localhost:8055/assets/399ce2db-1b79-46ae-bae6-2253698d705c'"
        /> -->
      </div>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'More Admission News'"
      />
      <div class="displayadmission2">
        <app-event [event]="'e3'"/>
        <app-event [event]="'e3'"/>
        <app-event [event]="'e3'"/>
        <app-event [event]="'e3'"/>
      </div>
      <app-buttons
        [button]="'orangeBlue'"
        [content]="'Learn more'"
      />
    </div>
    <div #research class="research">
      <span class="researchtitle">RESEARCH NEWS</span>
      <app-slide/>
    </div>
    <div #upevent class="upevent">
      <div class="displayevent1">
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
        <app-event
          [event]="'e4'"
          [title]="'Information'"
          [imageSrc]="'http://localhost:8055/assets/f6b78b3a-2341-48de-b776-eaaa82a03fda'"
        />
      </div>
      <div class="displayevent2">
        <app-event
        [event]="'e5'"
        [imageSrc]="'http://localhost:8055/assets/eb981c65-5359-4235-9bc5-e355c88b11a9'"
        [title]="'Upcoming event title'"
        [content]="'Some content that I try to make it looks long enough but it is not that long enough so I have to try again'"
        />
        <app-event
        [event]="'e5'"
        [imageSrc]="'http://localhost:8055/assets/eb981c65-5359-4235-9bc5-e355c88b11a9'"
        [title]="'Upcoming event title'"
        [content]="'Some content that I try to make it looks long enough but it is not that long enough so I have to try again'"
        />
      </div>
      <div class="displayevent3">
        <img [src]="'http://localhost:8055/assets/eb981c65-5359-4235-9bc5-e355c88b11a9'"/>
        <div class="event3info">
          <span
            class="event3head"
            >Academic Programs</span
          >
          <div>
            <svg
              width="72"
              height="12"
              viewBox="0 0 72 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="72" height="12" fill="#F28130" />
            </svg>
          </div>
          <span
            class="event3body"
            >Many degree programs in engineering - VGU offers a wide range of courses...</span
          >
          <app-buttons
            [button]="'orange'"
            [content]="'Learn more'"
          />
        </div>
      </div>
      <span class="learnmoreinfo">Learn more about VGU</span>
      <div class="displayevent4">
        <app-event
          [event]="'e6'"
        />
        <app-event
          [event]="'e6'"
        />
        <app-event
          [event]="'e6'"
        />
        <app-event
          [event]="'e6'"
        />
      </div>
    </div>
    <div #partner class="partner">
      <span class="partnertitle">UNIVERSITY PARTNER</span>
      <app-slide-partner/>
    </div>
  </div>
  <app-footer [property]="'desktop'"/>
</div>
