<div class="root_hamburgerComponent">
    <!-- main hamburger menu -->
    <span
        *ngIf="hamburgerContent === 'main'"
        class="section"
        (click)="changeContent('about')"
    >About VGU</span>
    <span
        *ngIf="hamburgerContent === 'main'"
        class="section"
        (click)="changeContent('SaA')"
    >Study and Admission</span>
    <span
        *ngIf="hamburgerContent === 'main'"
        class="section"
        (click)="changeContent('research')"
    >Research</span>
    <span
        *ngIf="hamburgerContent === 'main'"
        class="section"
        (click)="changeContent('industrialRelation')"
    >Industrial Relation</span>

    <!-- about VGU -->
    <span
        *ngIf="hamburgerContent === 'about'"
        class="subtitle"
        (click)="changeContent('main')"
    >< About VGU</span>
    <span
        *ngIf="hamburgerContent === 'about'"
        class="section"
        (click)="changeContent('organization')"
    >Organization</span>
    <span *ngIf="hamburgerContent === 'about'" class="section">Press releases</span>
    <span *ngIf="hamburgerContent === 'about'" class="section">Contact</span>

    <!-- organization     -->
    <span
        *ngIf="hamburgerContent === 'organization'"
        class="subtitle"
        (click)="changeContent('about')"
    >< Organization</span>
    <span *ngIf="hamburgerContent === 'organization'" class="section">Overview</span>
    <span *ngIf="hamburgerContent === 'organization'" class="section">University Council</span>
    <span *ngIf="hamburgerContent === 'organization'" class="section">President Board</span>
    <span
        *ngIf="hamburgerContent === 'organization'"
        class="section"
        (click)="changeContent('facultyInfo')"
    >Faculty Information</span>

    <!-- faculty information -->
    <span
        *ngIf="hamburgerContent === 'facultyInfo'"
        class="subtitle"
        (click)="changeContent('organization')"
    >< Faculty Information</span>
    <span *ngIf="hamburgerContent === 'facultyInfo'" class="section">Faculty of Engineering Office</span>
    <span *ngIf="hamburgerContent === 'facultyInfo'" class="section">Faculty of Economic and Management Office</span>
    
    <!-- study and admission -->
    <span
        *ngIf="hamburgerContent === 'SaA'"
        class="subtitle"
        (click)="changeContent('main')"
    >< Study and Admission</span>
    <span
        *ngIf="hamburgerContent === 'SaA'"
        class="section"
        (click)="changeContent('level')"
    >Education Level</span>
    <span
        *ngIf="hamburgerContent === 'SaA'"
        class="section"
        (click)="changeContent('student')"
    >Student</span>
    <span *ngIf="hamburgerContent === 'SaA'" class="section">Alumni</span>
    <span *ngIf="hamburgerContent === 'SaA'" class="section">Admission</span>
    <span *ngIf="hamburgerContent === 'SaA'" class="section">Accreditation</span>
    
    <!-- education level -->
    <span
        *ngIf="hamburgerContent === 'level'"
        class="subtitle"
        (click)="changeContent('SaA')"
    >< Education Level</span>
    <span
        *ngIf="hamburgerContent === 'level'"
        class="section"
        (click)="changeContent('bachelor')"
    >Bachelor</span>
    <span
        *ngIf="hamburgerContent === 'level'"
        class="section"
        (click)="changeContent('master')"
    >Master</span>
    
    <!-- bachelor -->
    <span
        *ngIf="hamburgerContent === 'bachelor'"
        class="subtitle"
        (click)="changeContent('level')"
    >< Bachelor</span>
    <span *ngIf="hamburgerContent === 'bachelor'" class="section">Study Programs</span>
    <span *ngIf="hamburgerContent === 'bachelor'" class="section">Faculty</span>
    <span *ngIf="hamburgerContent === 'bachelor'" class="section">Scholarship</span>
    <span *ngIf="hamburgerContent === 'bachelor'" class="section">Exchange Information</span>
    
    <!-- master -->
    <span
        *ngIf="hamburgerContent === 'master'"
        class="subtitle"
        (click)="changeContent('level')"
    >< Master</span>
    <span *ngIf="hamburgerContent === 'master'" class="section">Study Programs</span>
    <span *ngIf="hamburgerContent === 'master'" class="section">Faculty</span>
    <span *ngIf="hamburgerContent === 'master'" class="section">Scholarship</span>
    <span *ngIf="hamburgerContent === 'master'" class="section">Exchange Information</span>
    
    <!-- student -->
    <span
        *ngIf="hamburgerContent === 'student'"
        class="subtitle"
        (click)="changeContent('SaA')"
    >< Student</span>
    <span
        *ngIf="hamburgerContent === 'student'"
        class="section"
        (click)="changeContent('services')"
    >Services</span>
    <span *ngIf="hamburgerContent === 'student'" class="section">VSA</span>
    
    <!-- services -->
    <span
        *ngIf="hamburgerContent === 'services'"
        class="subtitle"
        (click)="changeContent('student')"
    >< Services</span>
    <span *ngIf="hamburgerContent === 'services'" class="section">Overview</span>
    <span *ngIf="hamburgerContent === 'services'" class="section">Bus</span>
    <span *ngIf="hamburgerContent === 'services'" class="section">Dormitory</span>
    <span *ngIf="hamburgerContent === 'services'" class="section">Library</span>
    
    <!-- research -->
    <span
        *ngIf="hamburgerContent === 'research'"
        class="subtitle"
        (click)="changeContent('main')"
    >< Research</span>
    <span *ngIf="hamburgerContent === 'research'" class="section">Research direction</span>
    <span *ngIf="hamburgerContent === 'research'" class="section">Research projects</span>
    <span *ngIf="hamburgerContent === 'research'" class="section">Publication</span>
    <span *ngIf="hamburgerContent === 'research'" class="section">Research centre</span>
    
    <!-- industrial relation -->
    <span
        *ngIf="hamburgerContent === 'industrialRelation'"
        class="subtitle"
        (click)="changeContent('main')"
    >< Industrial Relation</span>
    <span *ngIf="hamburgerContent === 'industrialRelation'" class="section">Overview</span>
    <span *ngIf="hamburgerContent === 'industrialRelation'" class="section">Industrial relation and
        Technology transfer centre</span>
    <span *ngIf="hamburgerContent === 'industrialRelation'" class="section">Internship in Industry</span>
    <span *ngIf="hamburgerContent === 'industrialRelation'" class="section">Trainings for industry
        partner</span>

    <div
        *ngIf="
        hamburgerContent === 'about' ||
        hamburgerContent === 'organization' ||
        hamburgerContent === 'facultyInfo' ||
        hamburgerContent === 'student' ||
        hamburgerContent === 'services' ||
        hamburgerContent === 'SaA' ||
        hamburgerContent === 'research' ||
        hamburgerContent === 'industrialRelation' ||
        hamburgerContent === 'level' ||
        hamburgerContent === 'bachelor' ||
        hamburgerContent === 'master'
        "
        class="line1"
    >
        <svg
        width="100%"
        height="2"
        viewBox="0 0 600 2"
        fill="#666666"
        xmlns="http://www.w3.org/2000/svg"
        >
        <line y1="1" x2="600" y2="1" stroke="#666666" stroke-width="2" />
        </svg>
    </div>
</div>