<ngb-carousel
  class="root_slide"
  [interval]="100000"
>
  <ng-template ngbSlide *ngFor="let slide of slides">
    <div class="frame109"
    [ngStyle]="{ 'background': getRandomColor() }">
      <div class="frame110">
        <div class="gameIconsGraduateCap">
          <!-- <img [src]="this.directusSrv.getImageUrl(slide.icon)"
          alt="{{slide.title}}"> -->
        </div>
        <div class="frame111">
          <span class="title">
            {{slide.figure}}
          </span>
        </div>
      </div>
      <div class="frame112">
        <span
          class="content"
          >{{slide.content}}</span
        >
        <!-- <span class="subContent"
          >{{slide.subContent}}</span
        > -->
      </div>
    </div>
  </ng-template>
</ngb-carousel>