<div
  class="root_navnews"
  [ngClass]="{
    root_propertyDefaultPropertyHover:
      property === 'Default' || property === 'Hover',
    root_propertySelected: property === 'Selected',
    root_propertyHover: property === 'Hover',
  }"
>
  <span
    class="events"
    [ngClass]="{
      events_propertyDefaultPropertyHover:
        property === 'Default' || property === 'Hover',
      events_functionUpeventPropertySelected:
        function === 'Upevent' && property === 'Selected',
    }"
    >{{function}}</span
  >
</div>
