<div class="root"
  (mouseenter)="property='hover'"
  (mouseleave)="property='Default'"
>
    <span
      *ngIf="function === 'quickAccess'"
      class="quickAccess"
      [ngClass]="{
        quickAccess_propertyDefaultFunctionQuickAccess:
          property === 'Default' && function === 'quickAccess',
        quickAccess_propertyHoverFunctionQuickAccess:
          property === 'hover' && function === 'quickAccess',
      }"
      >Quick access</span
    >
    <span
      *ngIf="function === 'language'"
      class="english"
      [ngClass]="{
        english_propertyDefaultFunctionLanguage:
          property === 'Default' && function === 'language',
        english_propertyHoverFunctionLanguage:
          property === 'hover' && function === 'language',
      }"
      >English</span
    >
    <span
      *ngIf="function === 'home'"
      class="home"
      [ngClass]="{
        home_propertyDefaultFunctionHome:
          property === 'Default' && function === 'home',
        home_propertyHoverFunctionHome:
          property === 'hover' && function === 'home',
      }"
      >Home</span
    >
    <span
      *ngIf="function === 'search'"
      class="search"
      [ngClass]="{
        search_propertyDefaultFunctionSearch:
          property === 'Default' && function === 'search',
        search_propertyHoverFunctionSearch:
          property === 'hover' && function === 'search',
      }"
      >Search</span
    >
    <span
      *ngIf="function === 'login'"
      class="login"
      [ngClass]="{
        login_propertyDefaultFunctionLogin:
          property === 'Default' && function === 'login',
        login_propertyHoverFunctionLogin:
          property === 'hover' && function === 'login',
      }"
      >Login</span
    >
  </div>
  