<div class="htv-page">
  <div>
    <a routerLink="/organization">Organization/ </a>
    <a [routerLink]="['/organization', b]">Presidential Board/ </a>
    <span>Dr. Ha Thuc Vien</span>
  </div>

  <div class="header1">
    <h1>{{ staffInfo.name }}</h1>
  </div>
  <div class="wrapper">
    <div class="upper">
      <div class="img">
        <img [src]="directus.getImageUrl(staffInfo.image)" />
      </div>
      <div class="info1">
        <h1>{{ staffInfo.name }}</h1>
        <h2>{{ staffInfo.position }}</h2>

        <p>
          <span><img src="@.png" /></span>{{ staffInfo.email }}
        </p>
        <p>
          <span><img src="phone.png" /></span>{{ staffInfo.phone }}
        </p>
      </div>
    </div>
    <div class="below">
      <div class="info2">
        <p>
          Ambitious and results-driven academic professional with broad-based
          expertise in leading teams, establishing departments and strengthening
          organizations. Committed to excellence in business operations.
        </p>
        <h3>PROFESSIONAL HISTORY</h3>
        <p>
          Dr. Ha Thuc Vien is the Acting President of the Vietnamese German
          University. He is also Vice President in charge of Academic Affairs
          cum Director of the VGU's Management Unit (VMU, an designated unit to
          manage the VGU New Campus construction under the USD 200 million World
          Bank loaned project).
        </p>
      </div>
      <div class="info3">
        <h3>ACADEMIC ACHIEVEMENTS</h3>
        <p>
          Ph.D in Resource Economics from Humboldt University, Germany, 2007. MA
          in Sustainable Development from Chiang Mai University, Thai Lan, 2003.
          BSc in Land Management from University of Agriculture and Forestry, Ho
          Chi Minh City, Vietnam, 1996
        </p>
        <p>
          Before joining VGU in 2012, Dr. Vien was the Head of Natural Resources
          and Tourism Department and also the founder and Director of Center for
          International Education of Ho Chi Minh City University of Agriculture
          and Forestry. His earlier career includes a senior lecturer in
          Resource and Land Economics, Resource Management, Land Use and Project
          Management. He has published a number of books, book chapters and
          articles in his specialized fields.
        </p>
      </div>
    </div>
  </div>
</div>
