.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  background: #0b2240;
}

.root_propertyDesktop {
  padding: 0px 0px 0px 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.root_propertyMobile {
  padding: 27px 9px 27px 9px;
  top: 179px;
  left: 39px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 390px;
}
.vguWhiteLogo1 {
  display: flex;
  box-sizing: content-box;
}

.vguWhiteLogo1_propertyDesktop {
  display: flex;
}

.vguWhiteLogo1_propertyMobile {
  display: flex;
}

.frame60 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 28px;
  box-sizing: border-box;
  width: 372px;
}
app-icon {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 90px;
  width: 72px;
  height: 72px;
}

.icon {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 90px;
  width: 72px;
  height: 72px;
}

.icon {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 90px;
  width: 72px;
  height: 72px;
}

.icon {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 90px;
  width: 72px;
  height: 72px;
}

.frame9 {
  position: relative;
  box-sizing: border-box;
  width: 246px;
  height: 113px;
}
.vguCampus84027422209908402742220980 {
  top: 10px;
  left: 6px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  text-align: left;
  text-wrap: nowrap;
  width: 235px;
  height: 93px;
}
